/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.primary-text {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
}

.profile-pic {
    height: 676px;
    width: 584px;
}

.banner-greet {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
}

div {
    justify-content: space-between;
}

.banner-description {
    margin-top: 0px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 130px auto;
}

/* about section */

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin-bottom: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;

}

.info-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 10px;
}
#what-i-do-description{
    padding: 0px 150px;
}
